.header{
    background-color: var(--primary-color);
}
.header header{
    padding: 2.3rem 0;
    display: flex;  
    align-items: center;
    justify-content: center;
    color: var(--white);

}
.contentCard{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem
    
}
.lugarImagem{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0rem;
    min-height: 80vh;
}
.buttonGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.buttonGroup button{
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0.25rem;
    font-weight: 600;

}

.select{
    width: 25%;
    margin-top: 2rem;
    
}
.loading{

    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    
}
